@import "tailwindcss";
/* @import "./typography.css"; */

@layer utilities {
  ::-webkit-scrollbar {
    width: 6px; /* Largura da scrollbar */
  }
  ::-webkit-scrollbar-thumb {
    background-color: #22c55e; /* Cor do polegar */
    border-radius: 4px;
  }
  ::-webkit-scrollbar-track {
    background-color: #374151; /* Cor do fundo */
  }
  .scrollbar-custom::-webkit-scrollbar {
    width: 6px; /* Largura da scrollbar */
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #22c55e; /* Cor do polegar */
    border-radius: 4px;
  }

  .scrollbar-custom::-webkit-scrollbar-track {
    background-color: #374151; /* Cor do fundo */
  }
}

.page-div {
  @apply max-w-screen min-h-screen bg-gray-900;
}

.table-container {
  @apply w-[90%] mx-auto flex lg:w-[80%] xl:w-[70%] 2xl:w-[60%] max-w-screen;
}

.li-table {
  @apply flex-col border-b border-gray-700 pb-2 sm:grid sm:grid-cols-6 sm:items-center gap-4;
}

.li-div-container {
  @apply flex col-span-4 lg:col-span-5 justify-between gap-2;
}

.menu-link-desktop {
  @apply text-white cursor-pointer font-medium hover:bg-gray-900 px-4 py-2 rounded transition-all;
}

.menu-link-mobile {
  @apply font-medium bg-gray-800 px-4 py-2  transition-all rounded-sm;
}
